<div class="container mt-4">
    <div class="row">
        <div class="col">
            <nav class="nav justify-content-center">
            <a class="nav-link" href="/">Weather</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/help">Help</a>
            </nav>
            <h1> {{title}} </h1>
        </div>
    </div>
</div>